---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Mat",
  country: "USA",
  occupation: "Software Engineer",
  hobbies: ["Guitar", "Game Design", "Composing Music"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Next.js", "Astro", "Vue", "Graphic Design"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "#94a3b8";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
              color: purple;
              font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
          </style>
	</head>
    <BaseLayout pageTitle={pageTitle}>
        <h2>... at least what I can say for now</h2>
          
        <p>I'm a software developer interested in delivering content in engaging and compelling new ways.</p>
            <p>I <b>love</b> to code - it's definately my greatest passion these days - but other competing interests include graphic art, game design, and composing music.
            I play guitar, bass, drums, piano, and just about anything else I can get my hands on but probably feel most at home in a DAW (Cubase).</p>
          
            
            <p>My skillset includes:</p>
                <ul>
                    {skills.map((skill) => <li class="skill">{skill}</li>)}
                </ul>

        <p>I am happy to finally be doing this site and I would love to work with others!</p>

    </BaseLayout> 
</html>
