---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Wicked Sweet Blog";
---
<BaseLayout pageTitle={pageTitle}>
        <h2>The infamous 3rd page!</h2>
          
        <p>So far we have 3 pages but soon we'll have many more!!</p>
          
        <p>Let's work on some better ways of doing things and a little styling next!</p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
</BaseLayout>