---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("posts");
const pageTitle = "My Wicked Sweet Blog";
---
<BaseLayout pageTitle={pageTitle}>
        <h2>The infamous 3rd page!</h2>
          
        <p>So far we only have 3 pages, but it's a start..</p>
          
        <p>Gonna work on some better ways of doing things and some other stuff to polish things up but I'll be adding real blog posts soon!</p>
        <ul>
            {
                allPosts.reverse().map((post) => (
                    <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
                    ))
            }
        </ul>
</BaseLayout>