---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>My Astro Site</h1>
        <h1>Blog Post!</h1>
        <h2>The infamous 3rd page!</h2>
          
        <p>So far we have 3 pages but soon we'll have many more!!</p>
          
        <p>Let's work on some better ways of doing things and a little styling next!</p>
	</body>
</html>
