---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="home-content-div">
    
    <h2>This is only the beginning..</h2>
        <p>This is a new blog created by me, Mat Venable.<br>
          So far it's just a few pages thrown together... but soon I will<br>
          actually have things to share.</p>
        
        <p>There's a lot of work to do!</p>
  </div>
</BaseLayout>