---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Stuff";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="stuff-content-div">
    
    <h2>Here is where all the resources..</h2>
        <p>Welcome to the gateway to everything that is objectively awesome! A portal, if you will, into my world. Enjoy!</p>
  </div>
</BaseLayout>