---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import { ViewTransitions } from 'astro:transitions';
---

<header>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100&family=Jura:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    
    <nav>
        <Hamburger />
        <Navigation />
        
    </nav>
    <ViewTransitions />
    
</header>