---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.2rem 0.7rem;
      color: white;
      background-color: #111827;
      border: 1px solid #f97316;
      border-radius: 4px;
      text-decoration: none;
    }
  </style>