---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pageTitle } = Astro.props;
---

<script>
	import { stagger, spring, timeline } from "motion";
	const cards = document.querySelectorAll(".main");
  
	const sequence = [
	  [
		".main",
		{ opacity: 0, pointerEvents: "none" },
		{ easing: "ease-out" },
	  ],
	  [
		cards,
		{ y: ["60%", "0%"], opacity: [0, 1] },
		{
		  at: "-1.1",
		  duration: 0.4,
		  delay: stagger(0.3),
		  easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
		},
	  ],
	];
  
	timeline(sequence, {
  defaultOptions: { ease: "ease-in-out" },
})
  </script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
			<div class="main">
				<div class="logo-div">
					<img src="/mv-logo-med.png" class="logo" alt="site logo"/>
					<img src="/mv-logo-sm.png" class="logo-side" alt="site logo"/>
				</div>
				<h1>{pageTitle}</h1>
					<div>
						<div class="container">
							<slot />
						</div>
					</div>
				<Footer />
			</div>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
